/* Here is your custom css styles. */
article .article .card-image{
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
article .article .card-image img {
    transition: 0.4s;
}
article .article .card-image img:hover{
    transform: scale(1.3)
}
